<div class="taskContainer">
    <div class="taskAdder" count="1">
        <input class="taskInput" placeholder="Enter Your Task" type="text">
        <input class="taskDescriptionInput" placeholder="Enter Your Task Desciption" type="textarea">
    </div>
</div>
<div class="taskIncrementer">
 <button class="addTaskBtn"name="addInput">Add one more field</button>
 <button class="addTaskToDb"name="addInputToDb">Add task to task list</button>
</div>