body
{
    font-family: cursive;
    max-width: 1000px;
    margin: 0 auto;
}
a {
    color: white;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;

    text-decoration: none;
}
.nav-holder {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.headerHolder
{
    line-height: 39px;
}
.headerGroup
{
    font-size: 24px;
    text-align: center;
}
.myQuote
{
    font-size: 21px;
    text-align: center;
    color: red;
}

button.disabled {
    background: #c3bebe !important;
}
.myHeader1,
.myHeader2,
.myHeader,
.myHeader3
{
    display: inline-block;
    border: 1px solid #673ab7;
    border-radius: 8px;
}
.header {
    width: 24%;
    float: left;
    height: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0px; 
    overflow: hidden;
    line-height: 40px;
    border-radius: 7px;
    border-right: 3px solid #ccc;
}
.headerHolder
{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.jiraDetailHolder
{
    text-align: center;
    margin-top: 20px;
}
.headerContainer {
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    background: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.taskIdentifier
{
    width: 100%;
}
.taskStatusBtnHolder
{
    line-height: 46px;
    float: left;
    width: 22%;
}
.taskDescription,.task,.taskStatusBtnHolder 
{
    color: black;
    font-weight: bold;
}
.taskHeaders
{
    box-sizing: border-box;
    overflow: hidden;
}
.task,
.taskNumber
{
    line-height: 45px;
    float: left;
    width: 31%;
    height: 45px;
}
.taskNumber
{
    width: 2%;
}
.taskDescription
{
    line-height: 45px;
    float: left;
    width: 45%;
    height: 45px;
}
.contentHolder
{
    width: 100%;
    padding: 10px 28px;
}
.contentHolder,
.taskIdentifier
{
    overflow: hidden;
    box-sizing: border-box;
    border-top: solid 1px #cabbb0;
}
input.taskInput,
input.taskDescriptionInput
{
    font-size: 14px;
    font-weight: bolder;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    color: black;
    border: 1px solid;
}
.taskIncrementer
{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    text-align: center;
}
.addTaskBtn,
.addTaskToDb
{
    font-size: 14px;
    border-radius: 8px;
    font-weight: bolder;
    line-height: 1.5;
    max-width: 180px;
    height: 50px;
    width: 48%;
}
.addTaskBtn
{
    background: #8e44ad;
    border: 0;
    border-bottom: 2px solid #80399d;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #80399d;
    box-shadow: inset 0 -2px #80399d;
}
.noTaskAvail
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.addTaskToDb
{
    background: #e67e22;
    border: 0;
    border-bottom: 2px solid #da751c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #da751c;
    box-shadow: inset 0 -2px #da751c;
}
.taskAdder
{
    padding: 12px 40px;
}
.listTasks
{
    background: #f39c12;
    border: 0;
    border-bottom: 2px solid #e8930c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #e8930c;
    box-shadow: inset 0 -2px #e8930c;
}
button.taskRemoved,
.cancelInfo
{
    box-sizing: border-box;
    border: 1px solid rgb(191, 31, 17);
    border-radius: 3px;
    background: linear-gradient(rgb(232, 92, 76) 5%, rgb(207, 0, 0) 100%) rgb(232, 58, 38);
    box-shadow: rgb(235, 41, 23) 0 1px 0 0 inset;
}
button.printJira
{
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}
.commentBoxHolder
{
    margin: 25px 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
}

input.myTextHolder
{
    width: 50%;
    height: 90px;
    margin: 0 auto;
}
.taskDescription
{
    min-height: 1px;
}
button.upDateDetails,
button.cancelInfo
{
    width: 19%;
    height: 40px;
    margin: 10px;
}
.finderDiv {
	box-sizing: border-box;
	overflow: hidden;
}
.reOpenedTask
{
    border: 2px solid #fffc93;
}
a
{
    background: transparent;
}

a:active,
a:hover,button
{
    outline: 0;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit]
{
    cursor: pointer;

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

input
{
    line-height: normal;
    border: 1px solid #6d6d6d;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body
{
    height: 100%;
}

html
{
    font-family: sans-serif;
    font-size: 100%;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body
{
    font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    font-size: 1em;
    line-height: 1.6;

    overflow: hidden;
    overflow-y: scroll;

    min-width: 100%;
    margin: 0;

    color: #4c4c4c;


    text-rendering: optimizeLegibility;
}

div
{
    position: relative;
}

a:focus,
a:hover
{
    color: #4c4c4c;
}

p
{
    font-weight: 300;

    margin: 0 0 1em;
}

.text-center
{
    text-align: center;
}

/*Normalisation completed*/

.offcanvas
{
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;

    width: 300px;
    height: 100%;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: width ease-in-out .28s, background linear .1s;
       -moz-transition: width ease-in-out .28s, background linear .1s;
         -o-transition: width ease-in-out .28s, background linear .1s;
            transition: width ease-in-out .28s, background linear .1s;
    -webkit-transform: translate3d(0px, 0, 0);
       -moz-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);

    color: #c8c8c8;
    background: #222;

    -webkit-touch-callout: none;
         -o-user-select: none;
}

.offcanvas ul
{
    font-weight: 300;

    margin: 0;
    padding: 0;

    list-style: none;
}

.offcanvas li
{
    display: block;
}

.offcanvas a.moveleft
{
    padding-left: 53px;
}

.offcanvas a
{
    display: block;

    width: 100%;
    height: 100%;
    padding: 13px 10px;

    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;

    color: #aaa;
    border-bottom: 2px solid #353434;
}

a
{
    background: transparent;
}

.offcanvas ul
{
    font-weight: 300;

    margin: 0;
    padding: 0;

    list-style: none;
}
.header {
    cursor: pointer;
}
.offcanvas li
{
    display: block;
}

/*.content-frame
{}*/

.container
{
    display: inline-block;
    width: 38px;
    cursor: pointer;
    margin: 8px 8px 0px 10px;
}

.bar1,
.bar2,
.bar3
{
    width: 35px;
    height: 5px;
    margin: 6px 0;

    transition: .4s;

    background-color: #333;
}

/* Rotate first bar */
.change .bar1
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
}
::-webkit-scrollbar { 
    display: none; 
}
/* Fade out the second bar */
.change .bar2
{
    opacity: 0;
}

/* Rotate last bar */
.change .bar3
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
}


.nav-collapsed .content-frame
{
    -webkit-transform: translate3d(0px, 0, 0);
       -moz-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
}

.content-frame
{
    background: #f5f3ee;
    position: relative;

    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /*padding: 50px;*/

    -webkit-transition: -webkit-transform .28s ease-in-out;
       -moz-transition:    -moz-transform .28s ease-in-out;
        -ms-transition:     -ms-transform .28s ease-in-out;
            transition:         transform .28s ease-in-out;

    border-top: 1px solid transparent;
    background-color: #fff;
}
[class*=icono-],
[class*=icono-] *
{
    box-sizing: border-box;
}

[class*=icono-]
{
    font-style: normal;

    position: relative;

    display: inline-block;

    margin-right: 20px !important;

    text-align: left;
    vertical-align: middle;
    text-indent: -9999px;

    color: #ddd;

    direction: ltr;
}

.icono-document
{
    width: 26px;
    height: 32px;
    margin-left: 4px;

    border: 2px solid;
    border-radius: 0 0 0 10px;
}

[class*=icono-]:after,
[class*=icono-]:before
{
    content: '';
    pointer-events: none;
}

.icono-document:before
{
    position: absolute;
    bottom: -3px;
    left: -3px;

    width: 0;
    height: 0;

    border-width: 5px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.icono-document:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 13px;
    height: 2px;

    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

    box-shadow: inset 0 0 0 32px, 0 -5px 0 0, 0 5px 0 0;
}

/*icono plus*/

[class*=icono-cross],
[class*=icono-plus]
{
    width: 30px;
    height: 30px;
    margin: 2px;
}

[class*=icono-check]:before,
[class*=icono-cross]:before,
[class*=icono-plus]:before
{
    width: 20px;
    height: 2px;
}

[class*=icono-check]:after,
[class*=icono-check]:before,
[class*=icono-check]:before,
[class*=icono-cross]:after,
[class*=icono-cross]:before,
[class*=icono-plus]:after,
[class*=icono-plus]:before
{
    box-shadow: inset 0 0 0 32px;
}

.icono-document:after,
[class*=icono-check]:before,
[class*=icono-cross]:after,
[class*=icono-cross]:before,
[class*=icono-plus]:after,
[class*=icono-plus]:before
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
[class*=icono-cross]:after,
[class*=icono-plus]:after
{
    width: 2px;
    height: 20px;
}

[class*=icono-check]:before,
[class*=icono-cross]:after,
[class*=icono-cross]:before,
[class*=icono-plus]:after,
[class*=icono-plus]:before
{
    box-shadow: inset 0 0 0 32px;
}

.icono-document:after,
[class*=icono-check]:before,
[class*=icono-cross]:after,
[class*=icono-cross]:before,
[class*=icono-plus]:after,
[class*=icono-plus]:before
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

[class*=icono-check]
{
    width: 28px;
    height: 28px;
    margin: 3px 0 3px 6px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

[class*=icono-check]:after
{
    position: absolute;
    bottom: 14px;
    left: 4px;

    width: 2px;
    height: 12px;
}

.icono-cross
{
    transform: rotate(45deg);
}
button
{
    display: inline-block;
    line-height: 1;
    text-transform: capitalize;
    position: relative;
    vertical-align: middle;
    width: 40%;
    height: 31px;
    padding: 0;
    font-size: 14px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #28be68;
    box-shadow: inset 0 -2px #28be68;
}
.datePicker
{
    width: 100%;
    margin: 35px 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.taskDetails
{
    border-top: 3px solid dodgerblue;
    border-bottom: solid 3px #cabbb0;
    padding-bottom: 30px;
}
.listTasks, .printJira {
    width: 230px;
    height: 50px;
    font-weight: bold;
    border-radius: 3px;
}
.getDate
{
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
button.copyBtn {
    margin: 20px 0px 20px 0px !important;
    width: 30%;
    font-weight: bold;
    border-radius: 3px;
    height: 50px;
}
@media only screen and (min-width: 767px)
{
    .finderDiv {
        text-align: center;
    }
    .dateInputHolder,.issueFinderDiv {
        display: inline-block;
    }
    .buttonContainer
    {
        margin-top: 20px;
        text-align: center;
    }
    .myJiraDetails
    {
       height: 190px;
       display: inline-block;
       width: 75%;
       border: 2px solid rgb(169, 169, 169);
    }
    .container
    {
        display: none;
    }
    .headerHolder,
    .taskListHolder
    {
        line-height: 56px;
        text-align: center;
        width: 100%;
    }
    input.taskInput
    {
        width: 33%;
    }
    input.taskDescriptionInput
    {
        width: 64%;
    }
}
@media only screen and (max-width: 766px)
{
    body {
        background-color: black;
    }
    .headerHolder {
        height: 65px;
        line-height: 45px;
        background: black;
        color: white;
        box-sizing: border-box;
        overflow: hidden;
        padding: 10px;
        border-bottom: 2px solid white;
        }
    .content-frame {
            -webkit-transform: translate3d(250px, 0, 0);
               -moz-transform: translate(250px, 0);
                -ms-transform: translate(250px, 0);
                    transform: translate(250px, 0);
                }
                .nav-holder {
                    position: fixed;
                    top: 65px;
                    left: 0;
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: 300px;
                    height: 100%;
                    cursor: default;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    -webkit-transition: width ease-in-out .28s, background linear .1s;
                    -moz-transition: width ease-in-out .28s, background linear .1s;
                    -o-transition: width ease-in-out .28s, background linear .1s;
                    transition: width ease-in-out .28s, background linear .1s;
                    -webkit-transform: translate3d(0px, 0, 0);
                    -moz-transform: translate(0px, 0);
                    -ms-transform: translate(0px, 0);
                    transform: translate(0px, 0);
                    color: #c8c8c8;
                    background: #222;
                    -webkit-touch-callout: none;
                    -o-user-select: none;
                }
                .header {
                    width: 100%;
                    border-bottom: 2px solid #353434;
                        border-radius: 0px;
                        height: 57px;
                }
                .headerContainer {
                    padding: 0px;
                }
    .taskAdder {
        padding: 12px 10px;
    }
    input.taskInput
    {
        width: 100%;
    }
    input.taskDescriptionInput
    {
        width: 100%;
        margin-top: 20px;
    }
    .addTaskBtn,
    .addTaskToDb
    {
        line-height: 1;
    }
    button
    {
        width: 100%;
        padding: 0 5px;
        margin: 0 0 15px 0;
    }
    .taskNo
    {
        display: none;
    }
    .contentHolder
    {
        padding: 10px;
    }
    input.myTextHolder
    {
        width: 100%;
    }
    button.upDateDetails, button.cancelInfo
    {
        margin: 2%;
        width: 46%;
    }
    .taskStatusBtnHolder
    {
        text-align: center;
    }
    .task
    {
        width: 37%;
    }
    .taskStatusBtnHolder
    {
        width: 23%;
    }
    .taskDescription
    {
        width: 40%;
    }
    .taskDescription,.task,.taskNumber,.taskStatusBtnHolder 
    {
        height: auto;
        line-height: 2;
    }
    .taskIdentifier
    {
        height: auto;
        padding: 10px 0px 10px 0px;
        min-height: 70px;
    }
    .dateInputHolder
    {
        width: 50%;
        max-width: 150px;
    }
    .dateInputHolder, .issueFinderDiv {
        display: inline-block;
        box-sizing: border-box;
        overflow: hidden;
    }
    .getDate
    {
        text-align: center;
        width: 100%;
    }
    .strDate
    {
        float: left;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .issueFinderDiv
    {
        padding: 0 0 0 10px;
    }
    .buttonContainer
    {
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        text-align: center;
        margin: 15px 0 0 0;
    }
    textarea.myJiraDetails
    {
            width: 100% !important;
            height: 200px;
    }
    button.copyBtn {
        width: 80%;
    }
}